{% extends "rideSharing/base.html" %}
{% block content %}

<div class="container">
  <h3 class="text-muted">Hello, {{user.username}}</h3>

  <div class="mb-3">
    <form action="#" method="get">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Search your ride below.</legend>
        <div class="row">
          {% for field in form %}
          <div class="row mb-3">
            <div class="col-sm-2">
              {{ field.label_tag }}
            </div>
            <div class="col-sm-4">
              {{ field }}
            </div>
          </div>
          {% endfor %}
        </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </div>
    </form>
  </div>

  {% if show_result %}
  <legend class="border-bottom mb-4">Available Rides:</legend>
  {% if ride_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Owner</th>
        <th>Address</th>
        <th>Arrival Time</th>
        <th>Driver</th>
        <th>Sharer</th>
      </tr>
    </thead>
    <tbody>
      {% for ride in ride_list %}
      <tr>
        <td>{{ ride.get_status_display }}</td>
        <td>{{ ride.owner.username }}</td>
        <td>{{ ride.addr }}</td>
        <td>{{ ride.arrive_date }}</td>
        <td>{{ ride.driver }}</td>
        <td>
          <form action="" method=post>
            {% csrf_token %}
            {{ ride.sharer }}
            <button name="ride_to_join" value="{{ ride.id }}" class="btn btn-outline-primary">Join</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No ride available.</p>
  {% endif %}
  {% endif %}

  <legend class="border-bottom mb-4">Joined Rides:</legend>
  {% if joined_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Owner</th>
        <th>Address</th>
        <th>Arrival Time</th>
        <th>Driver</th>
        <th>Sharer</th>
      </tr>
    </thead>
    <tbody>
      {% for ride in joined_list %}
      <tr>
        <td>{{ ride.get_status_display }}</td>
        <td>{{ ride.owner.username }}</td>
        <td>{{ ride.addr }}</td>
        <td>{{ ride.arrive_date }}</td>
        <td>{{ ride.driver }}</td>
        <td>
          <form action="" method=post>
            {% csrf_token %}
            <button name="ride_to_cancel" value="{{ ride.id }}" class="btn btn-outline-danger">Cancel</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Nothing.</p>
  {% endif %}
</div>
{% endblock content %}