{% extends "rideSharing/base.html" %}
{% block content %}


<br>
Show all the orders you pick as a driver
<br>
<a href="{% url 'rideSharing-home' %}">
  <button>As a driver</button>
</a>
<br>

<br>
Show all the orders you request as a owner
<br>
<a href="{% url 'showOwnerOrders' %}">
  <button>As a owner</button>
</a>
<br>

<br>
Show all the orders you join as a sharer
<br>
<a href="{% url 'rideSharing-home' %}">
  <button>As a sharer</button>
</a>
<br>

<br>
<a href="{% url 'rideSharing-home' %}">
  <button>return</button>
</a>
<br>

{% endblock content %}